@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf");
  }

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
}

.bg-image {
    background-position: center center;
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 35vw;
    color: white;
    text-align: center;
}

.bg-image a {
    text-decoration: none;
    color: white;
}

.bg-image a:hover {
    color: steelblue;
}

.banner {
    background-color: rgba(0,0,0,.5);
    font-family: "Norse Bold";
    padding: 20px;
    margin-top: 20vh;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    height: 100px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 48px; 
}

.form-container {

}

.submit {
    padding: 5px;
    margin-top: 20px;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.submit:hover {
    background-color: navy;
}